<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active"
      ><img src="../../assets/educacion-financiera.jpg" width="60" height="60"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >HOME</a
          >
        </li>
        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            ADMINISTRACIÓN
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/list-roles">Roles</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/list-users">Usuarios</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <button
          *ngIf="!isLogged"
          class="btn btn-outline-primary btn-sm mr-sm-2"
          routerLink="/login"
        >
          <i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN
        </button>
        <button
          *ngIf="!isLogged"
          class="btn btn-outline-primary btn-sm my-2 my-sm-0"
          style="margin-left: 15px"
          routerLink="/signup"
        >
          <i class="fa fa-registered" aria-hidden="true"></i> REGISTRAR
        </button>

        <div class="navbar-text" *ngIf="isLogged">
          <img [src]="imageLogin" width="40px" />
          <label>{{ username }}</label>
          <button
            class="btn btn-outline-primary btn-sm mr-sm-2"
            style="margin-left: 15px"
            (click)="onLogOut()"
          >
            <i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
