<footer class="footer footer-expand-lg footer-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div>
          <a class="navbar-brand" routerLink="" routerLinkActive="active"
            ><img
              src="../../assets/educacion-financiera.jpg"
              width="60"
              height="60"
            />
            Educación Financiera</a
          >
          <p class="mb-30 footer-desc">
            Se estará mostrando información relacionada con el manejo de las
            finanzas personales centradas en el emprendedor.
          </p>
        </div>
      </div>
      <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
        <div class="">
          <h4>Enlace rápidos</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none">Home</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Acerca nosotros</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Servicios</a>
            </li>
            <li>
              <a href="#" class="text-decoration-none">Contactos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div>
          <h4>Redes sociales</h4>
          <ul class="list-unstyled">
            <li>
              <img src="../../assets/facebook.png" width="30" height="30" />
              <a href="#" class="text-decoration-none">Facebook</a>
            </li>
            <li>
              <img src="../../assets/instagram.png" width="30" height="30" />
              <a href="#" class="text-decoration-none">Instagram</a>
            </li>
            <li>
              <img src="../../assets/gorjeo.png" width="30" height="30" />
              <a href="#" class="text-decoration-none">Twitter</a>
            </li>
            <li>
              <img src="../../assets/whatsapp.png" width="30" height="30" />
              <a href="#" class="text-decoration-none">WhatsApp</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6">
        <div>
          <h4>Newsletter</h4>
          <div>
            <label for="Newsletter" class="form-label"
              >Suscríbete a nuestro Newsletter</label
            >
            <input
              type="text"
              class="form-control"
              Placeholder="Ingrese su email"
            />
            <button class="btn btn-danger mt-3">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="copyright">
        <p>
          Desarrollado y mantenido por
          <a routerLink="/home">José Parra</a>
        </p>
      </div>
    </div>
  </div>
</footer>
